<h1><%= @employee.full_name %></h1>


        <img src="<%=@employee.img_url %>" alt="<%= @employee.full_name %> picture"
        <ul>
        <li>Alias: <%=@employee.alias %></li>
        <li>Title: <%=@employee.title %></li>
        <li>Office: <%=@employee.office %></li>
        <li>Dog: <%=link_to @employee.dog.name, dog_path(@employee.dog) %></li>
        
        </ul>
